node_modules/
.env
.env.local
.env.*.local
dist/
build/
.DS_Store
*.log
.vscode/
.idea/
coverage/
.nyc_output/
*.pem
.vercel
.next
.cache/
public/build/
storybook-static/
.env.development.local
.env.test.local
.env.production.local